
@{
    ViewData["Title"] = "Log in";
    Layout = null;
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="~/Forhome/forlogin/bootstrap.min.css" rel="stylesheet" />
<link href="~/Forhome/forlogin/style.css" rel="stylesheet" />
<link href="~/Forhome/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="~/Forhome/forlogin/animate.css" rel="stylesheet" />
<link href="~/Forhome/css/clientstyle.css" rel="stylesheet" />
<link href="~/Forhome/css/style.css" rel="stylesheet" />
<style>
    .client-login-modal .modal-content .modal-img {
        width: 384px !important;
        display: inline-block;
        vertical-align: bottom;
        height: 568px !important;
        background: #ddd;
        padding: 0px 0px !important;
        overflow: hidden;
        background-color: #FBF9F2 !important;
    }

    .client-login-modal .modal-content {
        border-radius: 10px !important;
    }

    section.login-next {
        background-color: #eee;
        min-height: 100vh;
        padding-top: 80px;
    }

        section.login-next .login-box {
            background-color: #fff;
            padding: 40px 50px;
            text-align: center;
        }

        section.login-next .client-login-modal .auth-form-light h6 {
            text-align: center;
            font-size: 15px;
            letter-spacing: 0px;
            color: #333;
            text-transform: initial;
            margin-top: 15px;
            margin-bottom: 10px;
        }

        section.login-next .client-login-modal .auth-form-light h4 {
            text-align: center;
            letter-spacing: 0px;
            color: #333;
            font-size: 35px;
            text-transform: initial;
        }

        section.login-next .client-login-modal .form-group .form-control {
            height: 45px;
            box-shadow: none;
            border: 1px solid #777;
        }

    .btn-login {
        background-color: #bd081c;
        width: 100%;
        border-radius: 6px;
        color: #fff;
        font-weight: 700;
        text-transform: capitalize;
    }

    #bd081c
    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: #777 !important;
        font-size: 16px !important;
    }

    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #777 !important;
        opacity: 4;
        font-size: 16px !important;
    }

    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #777 !important;
        opacity: 4;
        font-size: 16px !important;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #777 !important;
        font-size: 16px !important;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
        color: #777 !important;
        font-size: 16px !important;
    }

    ::placeholder { /* Most modern browsers support this now. */
        color: #777 !important;
        font-size: 16px !important;
    }

    section.login-next {
        /* background-color: #eee; */
        min-height: 100vh;
        padding-top: 80px;
        background: linear-gradient(to right, #E49100, #F26B21);
    }
</style>
<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
    <section class="login-next">
        <div class="container">
            <div class="client-login-modal" id="client-login">
                <div class="col-md-offset-4 col-lg-4 mx-auto">
                    <div class="login-box">
                        <a href="/Home/Index">
                            <div class="brand">
                                <img src="~/MainAllImage/meropet logo test.png?h=300 && w=300" style="height: 80px;width: 80px;">
                            </div>
                        </a>
                        <div class="auth-form-light p-5">
                            <h6 class="font-weight-light"></h6>
                            <form class="pt-3">
                                <p>
                                    Thank you for registration,please check your email and confirm it before login.
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="login-footer">
            <div class="container">
                <div class="row" style="margin-left:-45px !important;margin-right: -12px !important;">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <ul>
                            <li><a href="/TermsAndConditions/index">Terms and Condition</a></li>
                            <li><a href="/TermsAndConditions/PrivicyPolicies">Privacy Policy</a></li>
                            <li><a href="">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>


