@using System.Linq
@{
    ViewData["Title"] = "New";
}

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">





@model IEnumerable<MeroSaman.Models.Catagory>
<style>
    row {
        width: 100%
    }
</style>
<section class="container-fluid p-o">
    <div style="background:white">
        <div class="col-md-12">
            <div class="module-tabs">
                <div class="col-md-3">
                    <div class="module-tabs">
                        <h3>Catagory</h3>
                    </div>

                </div>
                <div class="col-md-9">
                    <ul class="nav nav-pills  module-tabs" style="float:right">
                        <li class="nav-item">
                            <a class="nav-link active" href="/catagory"><h3>Overview</h3></a>
                        </li>
                    </ul>
                </div>
                <br />
                <div class="col-md-12">
                    <form>
                        <div class="col-md-12 column mytable">
                            <table class="table table-bordered table-hover mytable" id="tab_logic">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            #
                                        </th>
                                        <th class="text-center">
                                            CatagoryName
                                        </th>
                                        <th class="text-center">
                                            IsActive
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="mybody">
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <select class="form-control js-example-tags" id="catagorylist">
                                                <option selected="selected"></option>
                                                @foreach (var item in Model)
                                                {
                                                    <option value="@item.CatagoryId">@item.Name</option>
                                                }
                                            </select>
                                        </td>
                                        <td>
                                            <input type="checkbox" value="true" class="mycheckbox">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-1">
                            <a id="add_row" class="btn btn-default pull-left form-control" style="background-color:#ff6a00;color:white">Add Row</a>
                        </div>
                        <div class="col-md-1">
                            <a id='delete_row' class="pull-right btn btn-default form-control" style="background-color:#777;color:white">Delete Row</a>
                        </div>
                        <div class="col-md-9"></div>
                        <div class="col-md-1">
                            <input type="button" class="btn btn-success float-right form-control" style="background-color:#ff6a00;margin-top: 5px;" id="btnsave" value="Save" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>

<script>
    $(document).ready(function () {
        $(".js-example-tags").select2({
            tags: true
        });
        var i = 0;
        $("#add_row").click(function () {
            debugger
            $('#addr' + i).html("<td>" + (i + 1) + "</td><td><select class='form-control js-example-tags mynextlist" + (i + 1) + "'></select></td><td><input type='checkbox' value='true' class='mycheckbox'></td>");
            $('#tab_logic').append('<tr id="addr' + (i + 1) + '"></tr>');
            $(".js-example-tags").select2({
                tags: true
            });
            var list= $(".js-example-tags").html();
            $(".mynextlist" + (i + 1) + "").append(list);
            i++;
        });
        $("#delete_row").click(function () {
            if (i > 1) {
                $("#addr" + (i - 1)).html('');
                i--;
            }
        });
    });
    $("#btnsave").on('click', function () {
        var catagorys = [];
        $(".table tbody").find('tr').each(function (i) {
            var catagory = {};
            catagory.Name = $(this).find("td").find(".js-example-tags option:selected").text();
            catagory.IsActive = $(this).find("td").find(".mycheckbox").is(":checked");
            catagorys.push(catagory);
        });
        console.log(catagorys);
        $.ajax({
            type: "POST",
            url: "/Catagory/New",
            data: { catagorys: catagorys },
            success: function (r) {
                alert("Insert All Catagory Successfully");
                window.location.href = "/Catagory";
            }
        });
    });
</script>






